{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}
{% block main %}
<form action = "/sell" method = "post">
        <!-- Buy symbol -->
    <div class="form-group">
        <select id = "sellMenu" name = "symbol" autofocus>
             <option value = "">Symbol</option>
            {% for result in final%}
            <option>{{result}}</option>
            {% endfor %}

        </select>
    </div>
    <div class = "form-group">
        <input autocomplete= "off" class = "form-control" name = "shares" placeholder= "Shares" type = "text">
    </div>
    <button class = "btn btn-primary" type = "submit">SELL</button>

</form>
{% endblock %}